@model IEnumerable<DataObjects.Linq2SQL.Data.LOCATION>

@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACT_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACT_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACT_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAX_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_ON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_USER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODIFIED_ON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODIFIED_USER)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACT_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACT_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACT_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAX_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_ON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_USER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODIFIED_ON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODIFIED_USER)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
